.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 3rem 6rem;
}

@media screen and (max-width: 1280px) {
  .layout {
    padding: 3rem 1rem;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  margin: 2rem;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  line-height: 1;
  text-align: center;
  letter-spacing: -0.05em;
  font-size: 3.75rem;
  font-weight: 900;
}

.header p {
  line-height: 1.5;
  margin-top: 1.5rem;
  color: rgb(var(--fg-muted-rgb));
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .header h1 {
    font-size: 2.25rem;
  }
  .header p {
    margin-top: 1.25rem;
    font-size: 1rem;
  }
}

.main {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  padding: 2rem;
  margin-top: 2rem;
  font-size: 0.875rem;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}

.footer > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.footer > div:nth-child(2) {
  justify-content: center;
}

.footer > div:nth-child(3) {
  justify-content: flex-end;
}

.footer a > img {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: opacity;
}

.footer a:hover > img {
  opacity: 0.5;
}