/* Tabs */
.TabsRoot {
  width: 100%;
}

.TabsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0 0 2rem;
}

.TabsList button {
  font-size: 1rem;
}

/* Grid */
.grid {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  text-align: center;

  grid-template-columns: repeat(10, minmax(10%, auto));
  justify-items: center;
  gap: 2rem 1rem;
  margin: 0 auto;
  padding: 0;
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    max-width: 320px;
    margin-bottom: 120px;

    grid-template-columns: repeat(3, 33.3%);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(4, 25%);
  }
}
