.Layout {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.Logo {
  position: relative;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0 4rem 0;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  color: var(--foreground);
}

.Footer > div {
  font-size: 0.75rem;
  opacity: 0.75;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Footer > div a {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.Footer > div a:hover {
  opacity: 60%;
}

@media (prefers-color-scheme: dark) {
  .Logo {
    filter: invert(0) drop-shadow(0 0 0.3rem #ffffff55);
  }
  .FooterIcon {
    filter: invert(100%);
  }
}
