.Popover {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.ToolbarButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 0.75rem;
  border-radius: 0.25rem;
  background-color: transparent;
  color: var(--foreground);
  user-select: none;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.ToolbarButton:hover {
  background-color: var(--control);
}

.ToolbarButton:where([data-state='open']) {
  background-color: var(--control);
}

.PopoverContent {
  padding: 1.25rem;
  width: 420px;
  background-color: var(--control);
  border-radius: 0.25rem;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
